.content-area{
    height: calc(100vh - 56px); /* 100vh - header height ( 100vh - 56 )  calc = function om te rekenen */
    display: flex;
    background-color: #f9f9f9;
}

html {
    font-size: 10px;
}

aside{
    height: 100%;
    width: 280px;
    background-color: white;
    overflow-y: auto;
}

nav {
    width: 100%; /* width ==  280px / 280px = 100% */

    display: flex; /* display : flex = naastelkaar of onder elkaar ( je moet kiesen anders is het naast elkaar */

    flex-direction: column /* of row */; /* hiee is het flex onder elkaar ( dus alle herfs onder elkaar gaan niet naat elkaar */
    margin: 15px 0;/* boven and onder / recht and links */
    padding-right: 15px;

}


.nav-link{
    display: flex;
    align-items: center;
    padding: 10px 16px;
    text-decoration: None;
    color: black;
}

.nav-link:hover{
    background-color:rgba(0,0,0,0.05);

}


.nav-link span{
    margin-left: 24px;
    font-size: 1.4rem;
    line-height: 2em;
    font-weight: 400;
    color: #030303;
}

.active{
    background-color: #e5e5e5e5;
}

.active span{
    font-weight: 500;
}

hr{
    height: 1px;
    background-color: #e5e5e5e5;
    border: none;
    margin: 10px 0;
}

nav p {
    font-size: 1.4rem;
    color: #606060;
    font-weight: 500;
    padding: 8px 16px ;
    text-transform: uppercase;
}

.channel-img{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}